@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    
}

:root {
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(214, 215, 218, 0.20);
    --theme-color: #f9fafb;
    --inactive-color: rgba(184, 187, 202, 0.78);
    --body-font: "Poppins", sans-serif;
    --main-content-bg: rgb(146 151 179 / 13%);
    --scrollbar-color: rgba(123, 66, 216, 0.4);
}
  
body {
    font-family: var(--body-font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url("https://images.unsplash.com/photo-1620207418302-439b387441b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1934&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.app-content {
    background-color: rgba(16, 28, 27, 0.2);
    max-width: 1380px;
    max-height: 860px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    border-radius: 14px;
    backdrop-filter: blur(20px);
    --webkit-backdrop-filter: blur(2px);
    font-size: 15px;
    font-weight: 500;
    z-index: 1000;
}


.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 58px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 0 30px;
    white-space: nowrap;
    justify-content: space-between;
}

.menu-tag {
    display: flex;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 145px;
    margin-left: 60px;
    color: var(--inactive-color);
}

.changes-icons img{
    width: 1.8em;
    margin: 1em;
}

.header-menu {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 30%;
    margin-left: 20%;
}

.header-menu a, #cv-download {
    padding: 20px 30px;
    text-decoration: none;
    color: var(--inactive-color);
    transition: 0.3s;
}

.header-menu a.active, .header-menu a:hover, #cv-download.active, #cv-download:hover {
    color: var(--theme-color);
}

.big-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.side-container  {
    margin-top: 20px;
}
  
.side-title {
    color: var(--inactive-color);
    margin-bottom: 14px;
}
  
.left-side {
    flex-basis: 240px;
    border-right: 1px solid var(--border-color);
    padding: 26px;
    overflow: auto;
    flex-shrink: 0;
}

nav {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

nav ul {
    list-style: none;
    padding-inline-start: 0px;
}

nav li {
	display: block;
    
}

nav a {
	text-decoration: none;
    color: var(--theme-color);
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
}

.social-link:hover {
	/*background-color: rgba(102, 97, 107, 0.157);*/
    transform: scale(1.1);
}

nav img {
    width: 28px;
    margin-right: 25px;
}

/*.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}*/

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--theme-color);
    padding: 20px 40px;
    height: 100%;
    overflow: auto;
    background-color: var(--theme-bg-color);
}

.main-content-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
    opacity: 1;
    border-radius: 14px;
    padding: 20px 40px;
    transition: 0.9s;
}

.main-content-header p {
    font-size: 200%;
}

.main-content-header img {
    border-radius: 50%;
    width: 20%;
}

#about-me-header {
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png") ;
}

.main-content {
    margin-top: 5%;
    display: block;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: var(--main-content-bg);
    opacity: 0.8;
    border-radius: 14px;
    padding: 20px 40px;
}

.main-content p {
    text-align: justify;
}


.section-content {
    padding: 2em;
    margin-bottom: 2rem;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 30%);
    align-content: center;
    justify-content: center;
    
    margin-top: 2rem;
}

.portfolio figure {
    text-align: center;
    color: whitesmoke;
    
}

.img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 500ms;
}

.img-portfolio:hover{
    transform: scale(1.1);
}

figcaption {
    margin-left: 1.5em;
    text-align: center;
}

#cv-content p {
    margin: 0;
}

#cv-content h4 {
    margin-bottom: 4px;
}

#cv-content #h2-cv {
    margin-top: 5px;
}

#cv-content h2 {
    margin-top: 50px;
}



::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 10px;
}